In [9]:
import pandas as pd

In [12]:
pd.read_xlsx(r"‪C:\Users\chetn\OneDrive\Desktop\Excel notebook.xlsx")

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [11]:
pd.read_csv(r"C:\Users\chetn\OneDrive\Desktop\Book2.csv")

     Name   Class Adress
0   Chetna      2     jc
1  Sanjana      3     kc
2    Neetu      7     mc
3    [awan      9  jnfro